.card {
    border: 1px solid #999;
    background: rgb(14, 163, 81);
    height: 120px;
    width: 80px;
    text-align: center;
    display: inline-block;
}

.card_pick_up {
    border: 3px solid #f5e619;
    margin: 0px 2px 0px 2px;
    background: rgb(11, 245, 116);
    height: 120px;
    width: 80px;
    text-align: center;
    display: inline-block;
}